
@font-face {font-family: "iconfont";
  src: url('iconfont.eot?t=1481013257762'); /* IE9*/
  src: url('iconfont.eot?t=1481013257762#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('iconfont.woff?t=1481013257762') format('woff'), /* chrome, firefox */
  url('iconfont.ttf?t=1481013257762') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url('iconfont.svg?t=1481013257762#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family:"iconfont" !important;
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;
}

.icon-ipad:before { content: "\e756"; }

.icon-iMac:before { content: "\e757"; }

.icon-iPhone:before { content: "\e758"; }

.icon-iWatch:before { content: "\e759"; }

.icon-MacBook:before { content: "\e75a"; }

.icon-AppleUSB:before { content: "\e75b"; }

.icon-Beats:before { content: "\e75c"; }

.icon-Airpods:before { content: "\e75d"; }

.icon-Lightning:before { content: "\e75e"; }

.icon-ApplePencil:before { content: "\e75f"; }

.icon-AppleMouse:before { content: "\e760"; }

.icon-MacPro:before { content: "\e761"; }

.icon-Keyboard:before { content: "\e762"; }

.icon-Trackpad:before { content: "\e763"; }

.icon-DJIMavicPro:before { content: "\e764"; }

.icon-ipod:before { content: "\e765"; }

.icon-MagSafe:before { content: "\e766"; }

.icon-Chicken:before { content: "\e767"; }

.icon-BeverageCan:before { content: "\e768"; }

.icon-Beer:before { content: "\e769"; }

.icon-BBQ:before { content: "\e76a"; }

.icon-BirthdayCake:before { content: "\e76b"; }

.icon-Chips:before { content: "\e76c"; }

.icon-Coke:before { content: "\e76d"; }

.icon-Draughtbeer:before { content: "\e76e"; }

.icon-Hamburger:before { content: "\e76f"; }

.icon-Drink:before { content: "\e770"; }

.icon-Lipton:before { content: "\e771"; }

.icon-HotDog:before { content: "\e772"; }

.icon-Lollipop:before { content: "\e773"; }

.icon-Milk:before { content: "\e774"; }

.icon-Paper:before { content: "\e775"; }

.icon-Maize:before { content: "\e776"; }

.icon-PotatoChips:before { content: "\e777"; }

.icon-RedWine:before { content: "\e778"; }

.icon-Cocktail:before { content: "\e779"; }

.icon-Coffee:before { content: "\e77a"; }

.icon-Popcorn:before { content: "\e77b"; }

.icon-PPT:before { content: "\e77c"; }

.icon-Floder:before { content: "\e77d"; }

.icon-Shopping:before { content: "\e77e"; }

.icon-Briefcases:before { content: "\e77f"; }

.icon-Wallets:before { content: "\e780"; }

.icon-Bill:before { content: "\e781"; }

.icon-Book:before { content: "\e782"; }

.icon-AndroidPhone:before { content: "\e783"; }

.icon-Bedlamp:before { content: "\e784"; }

.icon-Battery:before { content: "\e785"; }

.icon-AndroidConnector:before { content: "\e786"; }

.icon-Battery1:before { content: "\e787"; }

.icon-Loudspeakerbox:before { content: "\e788"; }

.icon-PC:before { content: "\e789"; }

.icon-PowerSupply:before { content: "\e78a"; }

.icon-Mouse:before { content: "\e78b"; }

.icon-Moto:before { content: "\e78c"; }

.icon-TableLamp:before { content: "\e78d"; }

.icon-Laptop:before { content: "\e78e"; }

